body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgb(190, 190, 200);
}
header{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(171, 53, 171);
}

section{
    margin-bottom: 40px;
    padding: 20px;
    border: 2px solid rgb(157, 112, 136);
    border-radius: 20px;
}
 input,
 textarea,
 button{
    margin: 5px 0;
    padding: 5px;
 }
 
 section h2 {
    color: rgb(99, 65, 130);
 } body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    .card {
      border: 1px solid #986ba2;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 30px;
      border: 2px solid rgb(157, 112, 136);
      color: rgb(99, 65, 130)
    }
    button {
      padding: 8px 15px;
      cursor: pointer;
    }
    img {
        width: 100px;
    }



 